<div class="home-page-container">
  <div class="info-card">
    <div class="info-card-background"></div>
    <div class="info-card-content">
      <h1>Welcome to Tower of Illusion Games</h1>
      <p class="welcome-paragraph">Currently there are three projects under development. They are all set in the world of Wryn.
        This is the setting designed by our game designer and has endless potential for storytelling. In this world of flux there
        is the potential for mystery, horror, political drama, and mundane slice of life. The first project we are working on is Brigandier.
        It's a tabletop role playing game designed for simplicity and ease of play. All you need is the rules, six sided dice, paper, pencils,
        and some friends. While play testing we have made some great memories and we hope you can enjoy it as well. Keep checking back periodically for more
        updates on Brigandier as well as the other projects. Right now this is just a repository for the playtest materials. Go
        to the <a routerLink="/brigandier/downloads">downloads</a> page to get started.
      </p>
    </div>
  </div>
</div>
